body {
    background: red;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: rgba(2, 6, 23, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Section */
section {
    padding: 100px 20px;
    max-width: 1000px;
    margin: auto;
}

/* Home */
#home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid cyan;
}

/* Button */
button {
    padding: 12px 25px;
    border: none;
    background: linear-gradient(45deg, cyan, blue);
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

/* Projects */
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    background: #334155;
}

/* Contact */
#contact {
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}

